{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}
{% block body %}
<div class="bg-primary">
<center> <h1 class="p-4 text-white">About Us</h1> </center>

<div class="p-3 m-3 ">

    <div class="text-white">

        <main class="px-3">
            <h1>Build a community with travelers</h1>
            <p class="lead">We have build this Website inorder to bring like minded people together who would get a community 
                where they can interact, share their travel stories, get the best out of it.

                Foloow the blog for getting updated regarding latest travel recommendation

                For more info, please use our Contact Page!

            </p>
            <p class="lead">
              <a href="{{Link}}" class="btn btn-lg text-primary btn-secondary fw-bold my-4 border-white bg-white">Contact Us</a>
            </p>
          </main>
       
    </div>
    
    
    <footer class="my-auto py-4 text-white">
        <p class="text-center"> Feel free to ask help from community! </p>

    </footer>
</div>
</div>

{% endblock body %}

